.add-folders-to-notes-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* ================================================= */
/* CHIPS */
.folder-chips-container {
  width: 100%;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
}

/* ================================================= */
/* INPUT */
.add-folder-input-container {
  display: flex;
  flex-direction: row;
  width: 98%;
  margin: 0 auto;
  padding: 0px;
  border: 1px solid darkgray;
}

.add-folder-input {
  width: 75%;
  margin: 0 auto;
  padding: 0px;
}
.add-folder-button {
  width: 25%;
  margin: 0px;
  padding: 0px;
}