.add-tags-to-notes-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* ================================================= */
/* CHIPS */
.selected-tags-container {
  width: 100%;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
}
.tag-chip {
  display: inline-block;
  margin: 3px 3px;
  padding: 5px;
  font-weight: 100;
  font-family: arial;
  border-radius: 25px;
  background-color: #f1f1f1;
}
.chip-name {
  padding-left: 5px;
}
.chip-remove {
  padding-left: 10px;
  padding-right: 5px;
  color: #888;
  font-weight: bold;
  float: right;
  cursor: pointer;
}
.chip-remove:hover {
  color: #000;
}

/* ================================================= */
/* DROPDOWN */
.drop-down-container {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.dropdown-item {
  width: 98%;
  margin: 0 auto;
  margin-top: 2px;
  padding: 0px;
  background: white;
  color: black;
}