.add-note-container {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.add-note-container h4 {
  font-family: arial;
  font-weight: 100;
  background-color: #D64933;
  color: white;
}