.add-tags-to-notes-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.dropdown-item {
  width: 98%;
  margin: 0 auto;
  margin-top: 2px;
  padding: 0px;
  background: white;
  color: black;
}