/* UTILITY */
.show {
  display: block;
}

.hidden {
  display: none;
}

.arrow-icon {
  width: 15%;
  padding: 10px;
  margin: 0px;
  font-size: 20px;
}

.note {
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  background-color: white;
  /* border-top: 1px solid black; */
  /* border-bottom: 1px solid black; */
}

.note-title-and-toggle-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.note-data-container {
  width: 98;
  padding: 5px;
  margin: 0 auto;
}

.note-title {
  padding: 0px 0px 0px 0px;
  margin: 0px;
  border-bottom: 1px solid black;
}

.note p {
  padding: 0px 0px 0px 0px;
  margin: 0px;
  margin-bottom: 20px;
}

/* ================= NOTE INFORMATION ================= */
.note-information {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

/* ================= TAGS ================= */
.tags-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0px;
  margin: 0px;
  /* border: 1px solid blue; */
}
.tags-container h4 {
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}
.tags-container li {
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

/* ================= FOLDERS ================= */
.folders-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0px;
  margin: 0px;
  /* border: 1px solid blue; */
 }
.folders-container h4 {
  font-size: 14px;
  padding: 0px;
  margin: 0px;
 }
.folders-container li {
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
 }

 /* ================= BUTTONS ================= */
.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0px;
  margin: 0px; 
}

.edit-button {
  padding: 5px;
  margin: 0px; 
}

.delete-button {
  padding: 5px;
  margin: 0px; 
}

