.note-list-container {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  font-family: arial;
}

.notes-list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
}

.note-list h4 {
  font-family: arial;
}