/* MOBILE DIMENSIONS */
@media only screen and (max-width: 600px) {
  /* === ELEMENT STYLES ============================== */
  .toggle-button {
    margin: 0px;
    padding: 0px;
    width: 10%;
    height: 100%;
    background-color: white;
    border: 1px solid white;
  }
  .arrow-icon {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    background-color: white;
    border: 1px solid white;    
  }

  .note {
    position: relative;
    width: 98%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 5px;
    font-family: arial;
    background-color: white;
    border-bottom: 1px solid lightgray;
  }

  .note-title-and-toggle-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .note-data-container {
    width: 98%;
    height: auto;
    padding: 5px;
    margin: 0 auto;
    transition: height 0.5s ease, opacity 0.5s ease;
  }
  /* ANIMATION */
  .show {
    display: block;
    height: 200px;
    opacity: 1;
  }
  .hidden {
    display: block;
    height: 0px;
    opacity: 0;
  }

  .note-title {
    padding: 0px;
    margin: 0px;
    width: 90%;
    font-family: arial;
    font-weight: 500;
  }

  .note p {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    margin-bottom: 20px;
    font-size: 12px;
  }

  /* ================= NOTE INFORMATION ================= */
  .note-information {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  /* ================= TAGS ================= */
  .tags-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px;
    margin: 0px;
  }
  .tags-container h4 {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
  }
  .tags-container li {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }

  /* ================= FOLDERS ================= */
  .folders-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px;
    margin: 0px;
  }
  .folders-container h4 {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
  }
  .folders-container li {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }

  /* ================= BUTTONS ================= */
  .button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0px;
    margin: 0px; 
  }

  .edit-button {
    padding: 5px;
    margin: 0px; 
    background-color: white;
    border: 1px solid white;
  }

  .delete-button {
    padding: 5px;
    margin: 0px; 
    background-color: white;
    border: 1px solid white;
  }
}

/* LARGER THAN MOBILE DIMENSIONS */
@media only screen and (min-width: 601px) {
  /* === ELEMENT STYLES ============================== */
  .toggle-button {
    margin: 0px;
    padding: 0px;
    width: 10%;
    height: 100%;
    background-color: white;
    border: 1px solid white;
  }
  .arrow-icon {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    background-color: white;
    border: 1px solid white;
  }

  .note {
    position: relative;
    width: 98%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    margin-top: 5px;
    font-family: arial;
    background-color: white;
    border-bottom: 1px solid lightgray;
  }

  .note-title-and-toggle-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .note-data-container {
    width: 98%;
    height: auto;
    padding: 5px;
    margin: 0 auto;
    transition: height 0.5s ease-out, opacity 0.2s ease-out;
  }
  /* ANIMATION */
  .show {
    display: block;
    height: 100px;
    opacity: 1;
  }

  .hidden {
    display: block;
    height: 0px;
    opacity: 0;
  }

  .note-title {
    padding: 0px;
    margin: 0px;
    width: 90%;
    font-family: arial;
    font-weight: 500;
  }

  .note p {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    margin-bottom: 20px;
    font-size: 12px;
  }

  /* ================= NOTE INFORMATION ================= */
  .note-information {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  /* ================= TAGS ================= */
  .tags-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px;
    margin: 0px;
  }
  .tags-container h4 {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
  }
  .tags-container li {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }

  /* ================= FOLDERS ================= */
  .folders-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px;
    margin: 0px;
    /* border: 1px solid blue; */
  }
  .folders-container h4 {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
  }
  .folders-container li {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }

  /* ================= BUTTONS ================= */
  .button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0px;
    margin: 0px; 
  }

  .edit-button {
    padding: 5px;
    margin: 0px; 
    background-color: white;
    border: 1px solid white;
  }

  .delete-button {
    padding: 5px;
    margin: 0px; 
    background-color: white;
    border: 1px solid white;
  }
}