.note-list-container {
  width: 100%;
  height: auto;
  background-color: lightslategray;
  /* border: 1px solid black; */
}

.note-list {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.note-list h4 {
  font-family: arial;
}