.chip {
  /* display: inline-block; */
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3px 3px;
  padding: 5px;
  font-weight: 100;
  font-family: arial;
  border-radius: 25px;
  background-color: #f1f1f1;
}

chip:hover {
  background-color: darkslategray;
  color: white;
}

.chip-remove {
  width: auto;
  height: auto;
  margin: 0px 5px 0px 10px;
  padding: 2px;
  color: #888;
  text-align: center;
  font-weight: bold;
  float: right;
  cursor: pointer;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
}
.chip-remove:hover {
  background-color: red;
  color: white;
  border-radius: 50%;
}