.logout-button {
  margin: 5px;
  padding: 0px;
  width: 25px;
  height: 25px;
}

.logout-button img {
  margin: 0px;
  padding: 0px;
  width: 25px;
  height: 25px;
}

.header-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #D64933;
  border-bottom: 1px solid black;
}

.header-elements button {
  color: white;
  font-family: arial;
  background-color: #D64933;
  border: 1px solid #D64933;
}