/* MOBILE DIMENSION */
@media only screen and (max-width: 600px) {
  .modal {
    position: absolute;
    width: 98%;
    height: auto;
    z-index: 10;
    margin: 0 auto;
    margin: 15% 5% 0% 1%;
    padding: 0px;
    background-color: white;
    box-shadow: 3px 5px 4px 5px #888888;
  }
  .modal h1 {
    width: 100%;
    margin: 0px;
    padding: 2px;
    font-family: arial;
    font-weight: light;
    letter-spacing: 2px;
    background-color: black;
    color: goldenrod;
    text-align: center;
  }

  .content {
    position: relative;
    width: 98%;
    height: auto;
    margin: 0 auto;
    padding: 0px;
  }
}

/* LARGER THAN MOBILE DIMENSION */
@media only screen and (min-width: 601px) {
  .modal {
    position: absolute;
    width: 50%;
    height: auto;
    z-index: 10;
    margin: 0 auto;
    top: 50px;
    padding: 0px;
    background-color: white;
    box-shadow: 3px 5px 4px 5px #888888;
  }
  .modal h1 {
    width: 100%;
    margin: 0px;
    padding: 2px;
    font-family: arial;
    font-weight: light;
    letter-spacing: 2px;
    background-color: black;
    color: goldenrod;
    text-align: center;
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 5px;
  }
}