.note {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 5px auto;
  margin-bottom: 10px;
  padding: 0px;
  font-family: arial;
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.note h4 {
  font-family: arial;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.note p {
  margin: 0px;
  padding: 10px;
}

/* ================= NOTE INFORMATION ================= */
.note-information {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
}

/* ================= TAGS ================= */
.tags-container {
  margin: 0px;
  padding: 0px;
  width: 50%;
}
.tags-container h4 {
  border-bottom: 1px solid black;
}
.tags-container li {
  list-style-type: none;
}

/* ================= DELETE BUTTON ================= */
.delete-button {
  margin: 0px;
  padding: 0px;
  width: 25px;
  height: 25px;
}

.delete-button img {
  margin: 0px;
  padding: 0px;
  width: 25px;
  height: 25px;
}