/* MOBILE DIMENSIONS */
@media only screen and (max-width: 600px) {
  .folder-manager-container {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  /* NAV */
  .folder-manager-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
    padding: 10px;
    font-family: arial;
  }
  .folder-manager-nav h4 {
    padding: 5px;
    font-family: arial;
    font-weight: 100;
    font-size: 20px;
  }

  .folder-list {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  /* FOLDER COMPONENT */
  .fm-folder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
    margin-top: 5px;
    padding: 10px 5px;
    font-family: arial;
    border-bottom: 1px solid lightgray;
  }

  .fm-folder p {
    margin: 0px;
    padding: 5px;
  }

  .fm-folder-delete-button {
    margin: 0px;
    padding: 5px;
    font-size: 15px;
  }

  /* ADD FOLDER INPUT */
  .fm-input-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
}

/* LARGER THAN MOBILE DIMENSIONS */
@media only screen and (min-width: 601px) {
  .folder-manager-container {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  /* NAV */
  .folder-manager-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
    padding: 10px;
    font-family: arial;
  }
  .folder-manager-nav h4 {
    width: 80%;
    padding: 5px;
    font-family: arial;
    font-weight: 100;
    font-size: 20px;
    border-bottom: 1px solid black;
  }
  .folder-manager-nav button {
    width: 20%;
    margin: 0px;
    padding: 5px;
    background-color: white;
    border: 1px solid white;
  }

  .folder-list {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  /* FOLDER COMPONENT */
  .fm-folder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
    margin-top: 5px;
    padding: 10px 5px;
    font-family: arial;
    border-bottom: 1px solid lightgray;
  }

  .fm-folder p {
    margin: 0px;
    padding: 5px;
  }

  .fm-folder-delete-button {
    margin: 0px;
    padding: 5px;
    font-size: 15px;
    background-color: white;
    border: 1px solid white;
  }

  /* ADD FOLDER INPUT */
  .fm-input-container {
    width: 100%;
    margin: 0px;
    padding: 0px;
  } 

  .render-add-folder-input-button {
    width: 100%;
    margin: 0px;
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    font-family: arial;
    color: goldenrod;
    background-color: white;
    border: 1px solid white;
  }
}