.folder-note-list-component-container {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.folder-note-list-under-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: arial;
  margin: 0 auto;
  padding: 0px;
  width: 98%;
  height: auto;
  border-bottom: 1px solid black;
}

.folder-note-list-under-nav h4 {
  font-weight: 100;
  font-size: 20px;
  margin: 0px;
  padding: 5px;
}

..folder-note-list-under-nav button {

}