.folder-list-container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #2B303A;
}

.folder-list-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: arial;
  font-weight: 100;
  background-color: #D64933;
  color: white;
}

.folder-list-nav button {
  height: 35px;
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: arial;
  background-color: #D64933;
  border: 1px solid #D64933;
}

.folder-list {
  position: relative;
  width: 98%;
  height: 100%;
  margin: 0 auto;
  padding: 0px; 
}