.folder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
  margin-top: 5px;
  padding: 10px 5px;
  font-family: arial;
  border-bottom: 1px solid lightgray;
}

.folder p {
  padding: 5px;
}

.folder-redirect-button {
  font-size: 20px;
}