.folder-list-container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.folder-list-nav {
  margin: 0px;
  padding: 0px;
}
.folder-list-nav h4 {
  width: 98%;
  margin: 0 auto;
  padding: 5px;
  font-family: arial;
  font-weight: 100;
  font-size: 20px;
  border-bottom: 1px solid black;
}

/* .folder-list-nav button {
  height: 35px;
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: arial;
  background-color: #D64933;
  border: 1px solid #D64933;
} */

.folder-list {
  position: relative;
  width: 98%;
  height: 100%;
  margin: 0 auto;
  padding: 0px; 
}

.new-folder-button-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.render-add-folder-input-button {
  float: right;
  width: 40%;
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
  font-family: arial;
  color: goldenrod;
}