/* MOBILE DIMENSIONS */
@media only screen and (max-width: 600px) {
  .add-tag-input-component-container {
    width: 98%;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 0px;
    border: 1px solid lightgray;
  }

  .add-tag-form-container {
    width: 100%;
    margin: 10px 0px;
    padding: 0px;
  }

  .add-tag-form {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 0 auto;
    padding: 0px;
  }

  .add-tag-form-input {
    width: 100%;
    padding: 5px;
    background-color: lightgray;
    border: 1px solid white;
  }

  /* ===== CHIPS ======================== */
  .add-tag-chip-container {
    display: grid;
    grid-template-columns: fit-content(100px) fit-content(100px) 1fr;
    grid-gap: 5px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 5px;
  }
  .add-tag-form-chip {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    font-weight: 100;
    font-family: arial;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
  .add-tag-form-chip span {
    margin: 0px;
    padding: 5px;
  }
  .tag-chip-remove-button {
    margin: 0px 0px 0px 0px;
    padding: 0px 3px 0px 3px;
    color: #888;
    font-weight: bold;
    float: right;
    cursor: pointer;
  }

  /* ======== BUTTONS ======================= */
  .add-tag-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .at-btn {
    margin: 0px;
    padding: 5px;
    font-family: arial;
    font-size: 12px;
    font-weight: 100;
    background-color: white;
    border: 1px solid white;
  }
  .at-chip {
    font-size: 30px;
    color: goldenrod;
  }
  .at-submit {
    font-size: 14px;
    font-weight: bold;
    color: goldenrod;
  }
}

/* LARGER THAN MOBILE DIMENSIONS */
@media only screen and (min-width: 601px) {
  .add-tag-input-component-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0px;
    border: 1px solid lightgray;
  }

  .add-tag-form-container {
    width: 100%;
    margin: 10px 0px;
    padding: 0px;
  }

  .add-tag-form {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 0 auto;
    padding: 0px;
  }

  .add-tag-form-input {
    width: 100%;
    padding: 5px;
    background-color: lightgray;
    border: 1px solid white;
  }

  /* ===== CHIPS ======================== */
  .add-tag-chip-container {
    /* display: grid;
    grid-template-columns: fit-content(100px) fit-content(100px) 1fr;
    grid-gap: 5px; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 5px;
  }
  .add-tag-form-chip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2px;
    padding: 2px;
    font-weight: 100;
    font-family: arial;
    border-radius: 25px;
    background-color: #f1f1f1;
    border: 1px solid lightgray;
  }
  .add-tag-form-chip span {
    margin: 0px;
    padding: 5px;
  }
  .tag-chip-remove-button {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: #888;
    font-weight: bold;
    float: right;
    cursor: pointer;
  }

  /* ======== BUTTONS ======================= */
  .add-tag-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 1px solid white;
    background-color: white;
  }

  .at-btn {
    margin: 0px;
    padding: 5px;
    font-family: arial;
    font-size: 12px;
    font-weight: 100;
    border: 1px solid white;
    background-color: white;
  }
  .at-chip-button {
    border: 1px solid white;
    background-color: white;
  }
  .at-submit {
    font-size: 30px;
    color: goldenrod;
    border: 1px solid white;
    background-color: white;
  } 
}