.add-tag-input-component-container {
  width: 98%;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 0px;
  border: 1px solid lightgray;
}

.add-tag-form-container {
  width: 100%;
  margin: 10px 0px;
  padding: 0px;
}

.add-tag-chip-container {

}

.add-tag-button-container {
  
}


/* .add-tag-form-container {
  width: 100%;
  margin: 10px 0px;
  padding: 0px;
}

.add-tag-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  padding: 0px;
}

.add-tag-form input {
  border: 1px solid black;
} */