.tag-list-container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.tag-list-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: arial;
}

.tag-list {
  position: relative;
  width: 98%;
  height: 100%;
  margin: 0 auto;
  padding: 0px; 
}