.tag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
  padding: 5px;
  background-color: lightgray;
  border-bottom: 1px solid black;
}

.tag p {
  display: flex;
}

.tag-delete-button {
  display: flex;
}